body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol, hr {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px 20px 20px 20px;
}

header p {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav a:hover {
    text-decoration: underline;
}

 /*//////PAGINA HOME///////////*/

 div.titolo {
    padding: 0 30px 0 30px;
}
div.titolo h1 {
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-size: 65px;
    padding: 70px 0 25px 0 ;
}

div.titolo h2 {
    margin: auto;
    font-weight: normal;
    text-align: center;
    font-size: 45px;
    padding: 0 0 70px 0 ;
    border-bottom: solid #ccc;
    
}

div.heroimg img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    margin: auto;
}



div.hero2 {
    max-width: 1216px;
    margin: auto;
    display: flex; 
    align-items: center;
    gap: 30px;
}

.hero2 p {
    font-size: 30px;
    color: white;
}


section.hero {
    background-color: black;
    padding: 50px 0 50px 0;
}

.hero h1 {
    font-size: 69px;
    color: white;
}

.hero img {
    max-height: 457px;
}

section.herobianca {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 50px 0;
    border-bottom: solid #ccc;
    margin-bottom: 50px;
}

.herobianca h1 {
    font-size: 69px;
    color: rgb(0, 0, 0);
}

.herobianca img {
    max-height: 457px;
}



div.introduzione {
    padding: 120px 0;
}

p.home {
    max-width: 800px;
    margin: auto;
    color: #646464;
    font-size: 22px;
    padding-bottom: 85px;
}

div.intro p {
    max-width: 650px;
    margin: auto;
    font-size: 22px;
    margin-bottom: 1.5rem;
}

footer ul {
    margin: 0%;
    padding: 20px;
    list-style: none;
    display: flex;
    gap: 90px;
}

footer a {
    text-decoration: none;
    color: rgb(130, 130, 130);

}

footer a:hover {
    text-decoration: underline;
    color: black;
    }

footer{
    margin: auto;
    border-top: solid #ccc;
}    


.cardhome {
    max-width: 1216px;
    margin: auto;
    padding: 0 0 85px 0 ;
}

.cardhome h2 {
    text-transform: uppercase;
    font-weight: normal;
}

.contenitore {
	max-width: 1216px;
	margin: 0 auto 250px auto;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
    gap: 32px;
}

.film {
    position: relative;
}

.film img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.stopmotion a:before { 
    content: "";
    background-color: #7c7fab7d;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.cgi a:before { 
    content: "";
    background-color: #7cc5bd99;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.tradizionale a:before { 
    content: "";
    background-color: #7eb37a8e;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.film a span {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 21px;
    color: #fff;
    display: none;
}

.film a:hover span, .film a:hover:before {
    display: block;
}


  /*//////PAGINA ANIMAZIONE///////////*/

section.storiaanimazione {
    display: flex;
    gap: 50px;
    max-width: 1216px;
    margin: 0 auto 64px auto;
    padding: 0 32px;
}

section.storiaanimazione div:nth-child(1) {
    width: 30%;
} 

section.storiaanimazione div:nth-child(2) {
    width: 70%;
} 


section.storiaanimazione h1{
    margin: 0%;
    font-weight: bold;
    font-size: 20px;

}

section.storiaanimazione p {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
}

/*//////PAGINA TECNICA TRADIZIONALE///////////*/

section.tecnicaverde {
    background-color: #7eb37a;
    padding: 120px 0;
}


div.tecnicatrad {
    margin: auto;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.tecnicatrad h1 {
    font-size: 69px;
    font-weight: bold;
    color: white;
}

section.testotrad {
    display: flex;
    gap: 200px;
    max-width: 1216px;
    margin: 0 auto 64px auto;
    padding: 160px 0 0 0;
}

section.testotrad span {
    font-weight: bold;
}

section.testotrad div:nth-child(1) {
    width: 30%;
} 

section.testotrad div:nth-child(2) {
    width: 70%;
} 


section.testotrad h1{
    margin: 0%;
    font-weight: bold;
    font-size: 20px;
    color: #7eb37a;

}

section.testotrad p {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
}

.cardhometec {
    max-width: 1216px;
    margin: auto;
    padding: 0 0 85px 0 ;
}

.cardhometec h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #7eb37a;
    font-weight: bold;
}

/*//////PAGINA TECNICA STOP MOTION///////////*/

section.tecnicaviola {
    background-color: #7c7fab;
    padding: 120px 0;
}


div.tecnicastop {
    margin: auto;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.tecnicastop h1 {
    font-size: 69px;
    font-weight: bold;
    color: white;
}

section.testostop {
    display: flex;
    gap: 200px;
    max-width: 1216px;
    margin: 0 auto 64px auto;
    padding: 160px 0 0 0;
}

section.testostop span {
    font-weight: bold;
}

section.testostop div:nth-child(1) {
    width: 30%;
} 

section.testostop div:nth-child(2) {
    width: 70%;
} 


section.testostop h1{
    margin: 0%;
    font-weight: bold;
    font-size: 20px;
    color: #7c7fab;

}

section.testostop p {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
}

section.testostop h2 {
    font-weight: bold;
    color: #7c7fab;
    font-size: 20px;
}

.cardhomestop {
    max-width: 1216px;
    margin: auto;
    padding: 0 0 85px 0 ;
}

.cardhomestop h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #7c7fab;
    font-weight: bold;
}

/*//////PAGINA TECNICA CGI///////////*/

section.tecnicablu {
    background-color: #7cc5bd;
    padding: 120px 0;
}


div.tecnicacgi {
    margin: auto;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.tecnicacgi h1 {
    font-size: 69px;
    font-weight: bold;
    color: white;
}

section.testocgi {
    display: flex;
    gap: 200px;
    max-width: 1216px;
    margin: 0 auto 64px auto;
    padding: 160px 0 0 0;
}

section.testocgi span {
    font-weight: bold;
}

section.testocgi div:nth-child(1) {
    width: 30%;
} 

section.testocgi div:nth-child(2) {
    width: 70%;
} 


section.testocgi h1{
    margin: 0%;
    font-weight: bold;
    font-size: 20px;
    color: #7cc5bd;

}

section.testocgi p {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    
}

section.testocgi h2 {
    font-weight: bold;
    color: #7cc5bd;
    font-size: 20px;
}

.cardhomecgi {
    max-width: 1216px;
    margin: auto;
    padding: 0 0 85px 0 ;
}

.cardhomecgi h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #7cc5bd;
    font-weight: bold;
}


 /*//////PAGINA FILM///////////*/

 div.hero2film {
    max-width: 1216px;
    margin: auto;
    display: flex; 
    flex-direction: row;
    gap: 110px;
    align-items: center;
}


section.herostopmotion {
    background-color: #7c7fab;
    padding: 0 ;
    margin: 0 0 110px 0 ;

}

div.hero2filmcgi {
    max-width: 1200px;
    margin: auto;
    display: flex; 
    flex-direction: row;
    gap: 240px;
    align-items: center;
}

section.herocgi {
    background-color: #7cc5bd;
    padding: 0 ;
    margin: 0 0 110px 0 ;

}

section.herotradizionale {
    background-color: #7eb37a;
    padding: 0 ;
    margin: 0 0 110px 0 ;

}

.testohero {
    display: flex;
    flex-direction: column;
}

.hero2film h1 {
    font-size: 56px;
    color: white;
}

.hero2film p {
    font-size: 30px;
    color: white;
}

.hero2film img {
    max-height: 457px;
}

.hero2filmcgi h1 {
    font-size: 56px;
    color: white;
}

.hero2filmcgi p {
    font-size: 30px;
    color: white;
}

.hero2filmcgi img {
    max-height: 457px;
}

.iconestreaming {
    display: flex;
    gap: 40px;
    max-width: 800px ;
}
.iconestreaming img {
    max-width: 65px;
    max-height: 60px;
}

.galleriafilm {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) );
    max-width: 1216px;
    margin: 48px auto;
    gap: 43px;
    padding: 48px 16px ;

}





@media(max-width: 600px) {

    div.titolo {
        padding: 40px;

    }

    div.titolo h1 {
        margin: auto;
        font-weight: normal;
        text-align: center;
        font-size: 45px;
        padding: 0 0 25px 0 ;
    }
    
    div.titolo h2 {
        margin: auto;
        font-weight: normal;
        text-align: center;
        font-size: 25px;
        padding: 0 0 40px 0 ;
    }


    .heromia h1 h2 {
        font-size: 25px;
    }


    section.titolo h1 {
        font-size: 35px;
    }
    section.titolo h2 {
        font-size: 20px;
    }

    header{
       flex-direction: column;
       gap: 16px;
       font-size: 12px;
    
    }


    div.introduzione {
        padding: 60px 0;
    }
    
    p.home {
        max-width: 400px;
        margin: auto;
        color: #646464;
        font-size: 20px;
        padding-bottom: 85px;
    }
    
    div.intro p {
        max-width: 400px;
        margin: auto;
        font-size: 16px;
        margin-bottom: 1.5rem;
    }

    .cardhome h2 {
        max-width: 500px; 
        padding: 0;
        margin: auto;
        
    }

    .contenitore {
        padding: 0 16px;
        max-width: 500px;
    }

    .grid {
        
        gap: 26px;
    }
    
    .film a {
        text-decoration: none;
    }

    .film a:hover:before {
        display: none;
    }

    .stopmotion { 
        background-color: #7c7fab;
     
    }
    
    .cgi { 
        background-color: #7cc5bd;
    }
    
    .tradizionale { 
        background-color: #7eb37a;
    }

    .film a span {
        position: unset;
        transform: translate(0,0);
        font-weight: bold;
        font-size: 21px;
        color: #ffffff;
        display: block;
        padding: 12px 12px;
    }

    .film a:hover span {
        text-decoration: underline;
    }
  


 /*//////PAGINA ANIMAZIONE///////////*/



.herobianca {
    padding: 0;
    margin: 0;
} 
.herobianca h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.hero2 img {
    max-height: 220px;
}

.hero2 {
    padding: 0;
    margin: 0;
} 

.hero h1 {
    font-size: 28px;
    color: rgb(255, 255, 255);
}



div.hero2 {
    max-width: 500px;
    margin: auto;
    display: flex; 
    flex-direction: row;
    gap: 29px;
    align-items: center;
}


section.storiaanimazione {
        flex-direction: column;
    
    }
    
    section.storiaanimazione div:nth-child(1) {
        width: 100%;
    } 
    
    section.storiaanimazione div:nth-child(2) {
        width: 100%;
    } 
    section.storiaanimazione h1{
        font-size: 20px;
        padding: 0;
    
    }
    section.storiaanimazione p{
        font-size: 16px;
    }

    /*//////PAGINA Tecnica tradizionale///////////*/

    div.tecnicatrad {
        margin: auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        max-height: 200px;
    }

    div.tecnicatrad h1 {
        font-size: 28px;
    }

    section.testotrad {
        display: flex;
        flex-direction: column;
        gap: 80px;
        max-width: 500px;
        padding: 100px 0 0 0;
    }
    
    section.testotrad span {
        font-weight: bold;
    }
    
    section.testotrad div:nth-child(1) {
        width: 100%;
    } 
    
    section.testotrad div:nth-child(2) {
        width: 100%;
    } 
    
    
    section.testotrad h1{
        font-size: 18px;
    }
    
    section.testotrad p {
        font-size: 16px;      
    }


    /*//////PAGINA Tecnica stop///////////*/


    section.testostop {
        display: flex;
        flex-direction: column;
        gap: 80px;
        max-width: 500px;
        padding: 100px 0 0 0;
    }
    
    section.testostop span {
        font-weight: bold;
    }
    
    section.testostop div:nth-child(1) {
        width: 100%;
    } 
    
    section.testostop div:nth-child(2) {
        width: 100%;
    } 
    
    
    section.testostop h1{
        font-size: 18px;    
    }
    
    section.testostop p {
        font-size: 16px;        
    }
    
    section.testostop h2 {
        font-size: 16px;
    }




    /*//////PAGINA Tecnica cgi///////////*/

    section.testocgi {
        display: flex;
        flex-direction: column;
        gap: 80px;
        max-width: 500px;
        padding: 100px 0 0 0;
    }
    
    section.testocgi span {
        font-weight: bold;
    }
    
    section.testocgi div:nth-child(1) {
        width: 100%;
    } 
    
    section.testocgi div:nth-child(2) {
        width: 100%;
    } 
    
    
    section.testocgi h1{
        font-size: 20px; 
    }
    
    section.testocgi p {
        font-size: 16px;
    }
    
    section.testocgi h2 {
        font-size: 18px;
    }

     /*//////PAGINA FILM///////////*/


     div.hero2film {
        max-width: 500px;
        margin: auto;
        display: flex; 
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    div.hero2filmcgi {
        max-width: 500px;
        margin: auto;
        display: flex; 
        flex-direction: row;
        gap: 50px;
        align-items: center;
    }
    
    
    section.herostopmotion {
        background-color: #7c7fab;
        padding: 0 ;
        margin: 0 0 80px 0 ;
    
    }

    section.herocgi {
        background-color: #7cc5bd;
        padding: 0 ;
        margin: 0 0 80px 0 ;
    
    }
    
    section.herotradizionale {
        background-color: #7eb37a;
        padding: 0 ;
        margin: 0 0 80px 0 ;
    
    }

    .testohero {
        display: flex;
        flex-direction: column;
    }
    
    .hero2film h1 {
        font-size: 30px;
        color: white;
    }
    
    .hero2film p {
        font-size: 13px;
        color: white;
    }
    
    .hero2film img {
        max-height: 357px;
    } 


    .hero2filmcgi h1 {
        font-size: 30px;
        color: white;
    }
    
    .hero2filmcgi p {
        font-size: 14px;
        color: white;
    }
    
    .hero2filmcgi img {
        max-height: 357px;
    }

    .iconestreaming {
        display: flex;
        gap: 35px;
        max-width: 500px ;
    }
    .iconestreaming img {
        max-width: 55px;
        max-height: 50px;
    }

    section.galleriafilm {
        display: flex;
        flex-direction: column;
        align-items: center;
        
      }
    
     section.galleriafilm img{
      height: 450px;
      width: 450px;
     }
    
}



.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal:target {
    display: block;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.close:hover {
    color: #ccc;
}



